#GpsPrune config file
#Fri Aug 15 15:18:46 CEST 2025
prune.unitsetkey=unitset.kilometres
prune.mapsource=1
prune.autosavesettings=1
prune.exiftoolpath=exiftool
prune.numfixedmapsources=6
prune.linewidth=2
prune.waypointsalt=-1
prune.kmzimagewidth=240
prune.showzoomlevel=0
prune.altitudetolerance=0
prune.lastimportfileformat=-1
prune.heightexaggeration=100
prune.windowbounds=-8x-8x1936x1048
prune.osscaling=1
prune.languagecode=hu
prune.gnuplotpath=gnuplot
prune.showmap=1
prune.iconsdoublesize=0
prune.gpsbabelpath=gpsbabel
prune.coorddisplay=NONE
prune.waypointiconsize=1
prune.povrayfont=crystal.ttf
prune.configmigrationasked=0
prune.terraingridsize=50
prune.diskcache=c\:\\Entwicklung\\work\\_git\\berczisandor.github.io\\private\\2508-Regensburg_Krems\\edit\\cache
prune.gpsformat=garmin
prune.latlonrange=48.887225;49.030338;12.058443;12.566767
prune.antialias=1
prune.gpsdevice=usb\:
prune.trackdirectory=C\:\\Entwicklung\\work\\_git\\berczisandor.github.io\\private\\2508-Regensburg_Krems\\gpx
prune.recentfiles=6;rC\:\\Entwicklung\\work\\_git\\berczisandor.github.io\\private\\2508-Regensburg_Krems\\gpx\\2-regensburg-straubing.gpx;;;;;
prune.colourscheme=ffffff,ff4500,00ff00,000000,ff0000,ffc800,000000,808080,
